@font-face {
	font-family: 'Mitr';
	src: local('Mitr'), url('/font/Mitr-Regular.ttf') format('truetype');
}
body {
	font-family: 'Mitr' !important;
	background-color: #fdf5df !important;
}

.bg-preview {
	background-color: #fff !important;
}

.fixed-bottom {
	color: #fff;
	background-color: #3f3e3e;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* -------------------------------------------- */
.card {
	position: relative;
	min-width: 300px;
	height: auto;
	overflow: hidden;
	border: 0;
	border-radius: 15px;
	margin: 0 auto;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
	transition: 0.5s;
}
.card:hover {
	transform: scale(1.05);
}

.card_three,
.card_three .title .fa {
	color: #fff;
	background-color: #f87758 !important;
}

.card_red,
.card_red .title .fa {
	color: #fff;
	background-color: #f87758 !important;
}

.card:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: rgb(157 44 0 / 10%);
	z-index: 1;
	transform: skewY(-5deg) scale(1.5);
}
/* -------------------------------------------- */

.status1 {
	color: #9ea7ad !important;
}
.status2 {
	color: #2dccff !important;
}
.status3 {
	color: #00b6f3 !important;
}
.status4 {
	color: #fce83a !important;
}
.status5 {
	color: #ffb302 !important;
}
.status6 {
	color: #56f000 !important;
}
.status7 {
	color: #00c82f !important;
}
.status8 {
	color: #9ea7ad !important;
}
/* -------------------------------------------- */

.headline {
	margin: 2rem 0;
	font-size: xx-large;
	font-weight: 800;
	color: #5ebec4 !important;
}

.ms-n5 {
    margin-left: -40px;
}